<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pageTitle">Flask App</title>
</head>

<body>
    <h1>To-Do list</h1>
    <form id="messageForm" action="/add/" method="post">
        {% csrf_token %}
        <input type="text" name="message" placeholder="Add new task">
        <button type="submit">Add</button>
        <button type="reset">clear</button>
    </form>
    

    <div id="taskForm">
        {% if response_messages %}
            <select id="taskSelect" name="tasks" multiple>
                {% for message in response_messages %}    
                    <option value="{{ message }}">{{ message }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
    
    <form id="messageForm" action="/delete/" method="post">
        {% csrf_token %}
        <input type="hidden" id="selectedText" name="selected_text">
        <button type="submit" onclick="sendSelectedText()">Done</button>
    </form>
    
    <script>
        function sendSelectedText() {
            var selectElement = document.getElementById("taskSelect");
            var selectedText = [];
            for (var i = 0; i < selectElement.options.length; i++) {
                if (selectElement.options[i].selected) {
                    selectedText.push(selectElement.options[i].value);
                }
            }
            document.getElementById("selectedText").value = JSON.stringify(selectedText);
        }

        // Get the username from the JWT
        function getUsernameFromJWT() {
            var token = getCookie('jwt'); 
            if (token) {
                var payload = JSON.parse(atob(token.split('.')[1])); // Decode the middle part of the token
                return payload.username;
            }
            return 'null';
        }
        
        // Function to get cookie value by name
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Update the title with the username from the JWT
        var username = getUsernameFromJWT();
        if (username) {
            document.getElementById('pageTitle').innerText = "User = " + username;
        }
    </script>



</body>
</html>